body {
    margin: 0;
}

ul li {
    list-style: none;

}


.container_flex {
    display: flex;
    flex-wrap: nowrap;
}

.top-memu {
    width: 85%;
    height: 95px;
}

.sidbar {
    width: 15%;
}


.top-memu {
    display: flex;
    flex-direction: column;


}

.top-memu_user {
    padding-right: 15px;
}

.top-menu_nav {
    display: flex;
    justify-content: space-between;
    background-color: #9bbdaf;
}

.top-menu_nav ul li {
    border-right: 1px solid #0645ad;

}

.top-menu_links {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.top-menu_left_ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.top-memu_ul {
    display: flex;
    justify-content: flex-end;

}

.top-memu_ul li {
    list-style: none;
    padding: 0px 5px;;

}

.top-menu_left_ul li {
    padding: 18px 10px 5px 10px;
    background-color: #85e7ff;
}

.top-menu_search {
    display: flex;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    margin-bottom: -9px;
    margin-left: 15px;
}

.top-menu_activ-li {
    border-bottom: 1px solid #fff;
    background-color: #ffffff !important;
    border-left: 1px solid #0645ad;
}

.top-menu_left_ul > .top-menu_activ-li {
    border-left: none;
}

.activ_link {
    color: #54595d !important;
}


/*style top-menu*/
.top-memu ul li a {
    color: #0645ad;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
}

.top-memu ul li a:hover {
    text-decoration: underline;
}

.top-memu_input {
    border: none;
    padding: 7px 43px 1px 5px;

}

.top-menu_search_button button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.fa-search {
    padding: 3px;
}


                   /*sadbar*/









