/*body {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


/*#carousel{*/
/*    display: flex;*/
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/
/*.container{*/
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 100vh;*/

/*}*/
/*#carousel img {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    position: absolute;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*}*/
/*.right, .left{*/
/*    position: absolute;*/
/*    border-radius: 8px;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    background-color: darkgreen;*/
/*}*/

/*.right{*/
/*    top: 50vh;*/
/*    right: 20vh;*/
/*}*/
/*.left{*/
/*    top:50vh;*/
/*    left: 20vh;*/
/*}*/

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10vh;
}

.menu a {
    text-decoration: none;
    color: #333333;
    padding: 5px;
    cursor: pointer;
}

.menu a:hover {
    color: darkgrey;
    transition: color linear 0.1s;
}

.rules {
    margin-top: 100vh;
}


.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}


